    @font-face{
      font-family: lobster;
      src: url("../fonts/lobster/lobster-regular.ttf");
    }
    .welcome{
      width: 50%;
      margin: auto;
      text-align: center;
      position: relative;
    }
    .welcome p{
      color: rgb(64,20,44);
      font-size: 72px;
      font-family: Lobster;
    }
    .redirect{
      width: 50%;
      margin: 30% 25% 0% 25%;
      text-align: center;
      font-family: Lobster;
      font-size: 20px;
      position: relative;
    }
    .goto{
      margin: 0%;
      text-decoration:none;
      position: relative;
      border-radius: 25px;
    }
    .goto:link, .goto:visited{
      color: rgb(64,20,44);
      padding: 14px 25px;
      border: 2px solid rgb(64,20,44);

    }
    .goto:hover, .goto:active{
      color: rgb(217,205,145);
      padding: 14px 25px;
      background-color: rgb(64,20,44);
    }
    #background{
      padding:0em;
      margin:-5em auto;
      text-align:center;
      position: fixed;
    }

