@font-face{
  font-family: lobster;
  src: url("../../fonts/Lora-Regular.ttf");
}
body{
  background-color: rgb(217,205,145);
  color: rgb(64,20,44);
  font-family: Lobster;
}
canvas[id='defaultCanvas0']{
    		position: absolute;
    		top: 0px;
        margin: 0px 0px 0px 0px ;
        padding: 0px 0px 0px 0px ;
    	}
table[id="studio"]{
  width: 50%;
  margin: auto;
  text-align: center;
}
fieldset{
  border: 10px solid rgb(217,159,108);
  border-radius: 4px;
  margin: 2em;
}
input[type=text] {
    border: 2px solid rgb(217,159,108);
    border-radius: 4px;
    background-color: rgb(230,210,160);
}
textarea{
  border: 2px solid rgb(217,159,108);
  border-radius: 4px;
  background-color: rgb(230,210,160);
}
input[type=submit], input[type=reset] {
    background-color: rgb(191,96,75);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin-top: 5px;
    cursor: pointer;
}
.formButts{
  background-color: rgb(191,96,75);
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin-top: 5px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  width : 50%;
}
.fbuttons {
    background-color: rgb(217,205,145);
    color: rgb(64,20,44);
    /*border: 2px solid rgb(217,159,108);*/
}

.fbuttons:hover {
    border-radius: 12px;
    width:75%;
    color: white;
}
.fbuttons:active {
    border-radius: 12px;
    width:50%;
    color: white;
}

p[id='nbRepP']{
  text-decoration: line-through;
}
a{
  text-decoration: none;
}
.sampleButt {
    background-color: rgb(230,210,160); /* Green */
    border: none;
    color: rgb(230,210,160);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    width: 100%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}.button1 {
    background-color: rgb(217,205,145);
    color: rgb(64,20,44);
    font-size: 1em;
    /*border: 2px solid rgb(217,159,108);*/
}

.button1:hover {
    background-color: rgb(51,51,51);
    color: white;
    padding: 3.5em 4.5em 3.5em 4.5em;
}
.button1:active {
    background-color: rgb(51,51,51);
    color: white;
    padding: 16px 32px;
}
