canvas[id='defaultCanvas0']{
    		position: absolute;
    		top: 0px;
        margin: 0px 0px 0px 0px ;
        padding: 0px 0px 0px 0px ;
    	}
table[id="studio"]{
  width: 50%;
  margin: auto;
  text-align: center;
}
.formButts{
  width: 50%;
  margin: auto;
  display: block;
}

p[id='nbRepP']{
  text-decoration: line-through;
}
a{
  text-decoration: none;
}
